@model FinanceYourLife.Models.BonoContrato

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BonoContrato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ValorComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorNominal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorNominal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NroAños)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NroAños)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrecuenciaPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrecuenciaPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasPorAño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasPorAño)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoTasaInteres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTasaInteres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capitalizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capitalizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TasaInteresAnual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TasaInteresAnual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TasaDescuentoAnual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TasaDescuentoAnual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImpuestoRenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImpuestoRenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEmision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEmision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostesIniciales.IDCostesIniciales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostesIniciales.IDCostesIniciales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaEmisora.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaEmisora.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioBonista.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioBonista.Nombres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDBonoContrato }) |
    @Html.ActionLink("Back to List", "Index")
</p>
