
@{
    ViewBag.Title = "_Layout_GenerarFlujoPeriodico";
} 

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/layoutHomeBonista.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="~/Content/BondsIssued.css" />
    <link rel="stylesheet" href="~/Content/StyleSignInSignUp.css" />
    <script src="~/Scripts/accounting.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="body_flujoPeriodico">
    <header id="printHeader">
        <h1><a href="~/"><i class="fa fa-chart-line fa-2x"></i>  FINANCE YOUR LIFE</a></h1>
    </header>

    <nav>
        <a href="@Url.Action("HomeFinanceYourLife", "Home")" class="elements">
            FinanceYourLife
        </a>
        <a href="@Url.Action("HomeBonista", "Home")" class="elements">
            My Profile
        </a>
        <a href="@Url.Action("SeeBondsIssued", "BonoContratoes")" class="elements">
            See Bonds Issued
        </a>
        <a href="@Url.Action("AllContracts", "BonoContratoes")" class="elements">
            All Contract's
        </a>
        <a href="@Url.Action("SignOut", "UsuarioBonistas")" class="elements">
            Sign Out
        </a>
        <div class="animation start-blog"></div>
    </nav>
    <div id="dvContainer" class="container" style="margin-right:100px; margin-left:100px">
        @RenderBody()
        <hr />
        <footer class="container-fluid bg-inverse col-md-12" style="padding-top:50px">
            <p class="p_style" style="color:white">&copy; @DateTime.Now.Year - Finance Your Life</p>
        </footer>
    </div>
    <script type="text/javascript">
        $("#btnPrint").live("click", function () { 
            var header = $("#printHeader").html();
            var divContents = $("#dvContainer").html();
            var printWindow = window.open('', '', 'height=1200,width=1200');
            printWindow.document.write('<html><head><header');
            printWindow.document.write('</head><body><header</header>');
            printWindow.document.write(header,divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        });
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

