@model IEnumerable<FinanceYourLife.Models.EmpresaEmisora>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SedePrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rubro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgenteExterno.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SedePrincipal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rubro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgenteExterno.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDEmpresaEmisora }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDEmpresaEmisora }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDEmpresaEmisora })
        </td>
    </tr>
}

</table>
